{% load static i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <style>
    * {
      font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    }
  </style>
  {% block styles %}{% endblock %}

  <title>{% block title %}Coursify{% endblock %}</title>
</head>
<body>
{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
